In [2]:
import pandas as pd

In [5]:
pd

In [7]:
!ls xls

airline.xls	 demo.xls	   manuf.xls	   share.xls
alcohol.xls	 edu_inc.xls	   meat.xls	   sheep.xls
andy.xls	 euro.xls	   medical.xls	   sirmans.xls
asparas.xls	 exrate.xls	   metrics.xls	   spurious.xls
bangla.xls	 fair.xls	   mexico.xls	   sp.xls
beer.xls	 figureC-3.xls	   mining.xls	   sterling.xls
bond.xls	 florida.xls	   money.xls	   stockton2.xls
br2.xls		 food.xls	   monop.xls	   stockton96.xls
broiler.xls	 fullmoon.xls	   mroz.xls	   stockton.xls
brumm.xls	 fultonfish.xls    music.xls	   surplus.xls
br.xls		 gascar.xls	   nels_small.xls  table2-2.xls
byd.xls		 gasga.xls	   nels.xls	   table-c2.xls
canada.xls	 gdp.xls	   newbroiler.xls  table-c3.xls
capm2.xls	 gold.xls	   nls_panel2.xls  table-c4.xls
cars.xls	 golf.xls	   nls_panel.xls   tax2.xls
cattle.xls	 growth.xls	   nls.xls	   tax.xls
cespro.xls	 grunfeld2.xls	   oil.xls	   term.xls
ces.xls		 grunfeld3.xls	   olympics.xls    texas.xls
ch10.xls	 grunfeld.xls	   orange.xls	   theories.xls
chard.xls	 hhsurvey.xls	   oscar.xls	   tobitmc.xls
clothes.xls	 hip.xls	   oz.xls	   tobit.xls
cloth.xls	 house_starts.xls  phillips2.xls   toodyay.xls
coal.xls	 housing.xls	   phillips.xls    transport.xls
cobb.xls	 hwage.xls	   pilots.xls	   truffles.xls
cocaine.xls	 indpro.xls	   pizza.xls	   tuna.xls
cola2.xls	 inflation.xls	   profits.xls	   uk.xls
cola.xls	 insur.xls	   pro.xls	   unit.xls
commute.xls	 ivreg1.xls	   pubexp.xls	   usa.xls
computer.xls	 ivreg2.xls	   pub.xls	   utown.xls
consumption.xls  jobs.xls	   qtm.xls	   vacan.xls
cps1.xls	 korea.xls	   quizzes.xls	   vacation.xls
cps2.xls	 learn.xls	   returns.xls	   var.xls
cps_small.xls	 liquor.xls	   rice.xls	   vec.xls
cps.xls		 lon1.xls	   robbery.xls	   vote2.xls
crime.xls	 lon2.xls	   salary.xls	   vote.xls
csi.xls		 london.xls	   sales.xls	   wa-wheat.xls
demand.xls	 lond_small.xls    savings.xls	   yield.xls

In [9]:
df = pd.read_excel('xls/sales.xls',Sheetname='Sheet1')

In [10]:
df

    YEAR      P       S
0   1950   12.9   181.9
1   1951   11.9   245.0
2   1952   10.7   250.2
3   1953   11.3   265.9
4   1954   11.2   248.5
5   1955   15.1   278.4
6   1956   16.2   307.3
7   1957   15.4   320.0
8   1958   12.7   305.3
9   1959   16.3   338.0
10  1960   15.2   345.7
11  1961   15.3   356.4
12  1962   17.7   389.4
13  1963   19.5   412.7
14  1964   23.2   443.1
15  1965   27.5   492.2
16  1966   30.9   554.2
17  1967   29.0   575.4
18  1968   32.1   631.9
19  1969   33.2   694.6
20  1970   28.6   708.8
21  1971   31.0   751.1
22  1972   36.5   849.5
23  1973   48.1  1017.2
24  1974   58.7  1060.6
25  1975   49.1  1065.2
26  1976   64.5  1203.2
27  1977   70.4  1328.1
28  1978   81.1  1496.4
29  1979   98.7  1741.8
30  1980   92.6  1912.8
31  1981  101.3  2144.7
32  1982   70.9  2039.4
33  1983   85.8  2114.3
34  1984  107.6  2335.0
35  1985   87.6  2331.4

In [11]:
df.columns

Index(['YEAR', 'P', 'S'], dtype='object')

In [12]:
df['YEAR']

0     1950
1     1951
2     1952
3     1953
4     1954
5     1955
6     1956
7     1957
8     1958
9     1959
10    1960
11    1961
12    1962
13    1963
14    1964
15    1965
16    1966
17    1967
18    1968
19    1969
20    1970
21    1971
22    1972
23    1973
24    1974
25    1975
26    1976
27    1977
28    1978
29    1979
30    1980
31    1981
32    1982
33    1983
34    1984
35    1985
Name: YEAR, dtype: int64

In [13]:
import MySQLdb

ModuleNotFoundError: No module named 'MySQLdb'

In [14]:
import sql

ModuleNotFoundError: No module named 'sql'

In [15]:
from sqlalchemy import create_engine

In [16]:
from pandas.io import sql

In [19]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root",pw="root12345",db="pandasexam"))

ModuleNotFoundError: No module named 'pymysql'

In [20]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root",pw="root12345",db="pandasexam"))

ModuleNotFoundError: No module named 'pymysql'

In [21]:
import sqlalchemy

In [22]:
database_username = 'root'
database_password = 'root12345'
database_ip       = '127.0.0.1:3306'
database_name     = 'pandasexam'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))
frame.to_sql(con=database_connection, name='table_name_for_df', if_exists='replace')

ModuleNotFoundError: No module named 'mysql'

In [23]:
pip install mysql-connector-python-rf

The following command must be run outside of the IPython shell:

    $ pip install mysql-connector-python-rf

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more informations on how to install packages:

    https://docs.python.org/3/installing/

In [25]:
import pymysql

ModuleNotFoundError: No module named 'pymysql'